---
layout: base
---
.hero-unit
  %h1 Beep! Toot!
.row
  .span4
    %h2 About
    %p Beep! Toot! is about code.
    %p Additionally, Beep! Toot! is about well designed code :-)
  .span4
    %h2 Goal
    %p To help good programmers become great programmers.
  .span4
    %h2 Concept
    %p We'll start with public code reviews, see where it goes.
